
  <md-toolbar color="primary">
    <span>{{title}}</span>
    <!-- This fills the remaining space of the current row -->
    <span class="title-fill"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Ace</span>
      </button>
    </md-menu>
  </md-toolbar>

  <md-tab-group>
    <md-tab label="Home">
      <md-card>
        <md-card-title>Home</md-card-title>
        <md-card-content>
          <app-home>{{strings_loading}}</app-home>
        </md-card-content>
      </md-card>

    </md-tab>
    <md-tab label="Ace">
      <md-card>
        <md-card-title>Ace</md-card-title>
        <md-card-content>
          <app-ace-editor>{{strings_loading}}</app-ace-editor>
        </md-card-content>
      </md-card>
    </md-tab>
  </md-tab-group>



